POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=<POSTGRES_PORT>
POSTGRES_DB=<POSTGRES_DB>
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
APP_RUNTIME_USER=<APP_RUNTIME_USER>
APP_RUNTIME_PASSWORD=<APP_RUNTIME_PASSWORD>
DATABASE_RUNTIME_URL=<DATABASE_RUNTIME_URL>
JWT_SECRET=<JWT_SECRET_MIN_32_CHARS>
REDIS_URL=redis://localhost:6379
RATE_LIMIT_KEY_SECRET=<RATE_LIMIT_KEY_SECRET_MIN_32_CHARS>
REDIS_KEY_PREFIX=nexos:production
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
ASAAS_API_KEY=<ASAAS_SANDBOX_API_KEY>
ASAAS_API_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_WEBHOOK_TOKEN=<RANDOM_WEBHOOK_TOKEN>
PUBLIC_APP_URL=http://localhost:3000
BILLING_ENFORCEMENT_ENABLED=false
WEB_PORT=<WEB_PORT>
API_PORT=<API_PORT>
