POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=<POSTGRES_PORT>
POSTGRES_DB=<POSTGRES_DB>
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
APP_RUNTIME_USER=<APP_RUNTIME_USER>
APP_RUNTIME_PASSWORD=<APP_RUNTIME_PASSWORD>
DATABASE_RUNTIME_URL=<DATABASE_RUNTIME_URL>
JWT_SECRET=<JWT_SECRET>
WEB_PORT=<WEB_PORT>
API_PORT=<API_PORT>
